<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li role="presentation" class="active"><a ui-sref="main.home">Home</a></li>
        <li role="presentation"><a ui-sref="main.profile">Profile</a></li>
        <li role="presentation"><a ui-sref="main.messages">Messages</a></li>

        <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle"
               id="drop3" data-toggle="dropdown"
               role="button" aria-haspopup="true"
               aria-expanded="false"> Dropdown <span
                class="caret"></span> </a>
            <ul class="dropdown-menu" aria-labelledby="drop3">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>


        <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        Click me for a dropdown, yo!
      </a>
      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
       <li role="menuitem"><a href="#">Action</a></li>
                <li role="menuitem"><a href="#">Another action</a></li>
                <li role="menuitem"><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </span>
    </ul>
</nav>
<div ui-view>
    <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
</div>
